name: Provision Hobio Infrastructure

on:
  push:
    branches:
      - main
    paths:
      - "**"
      - "!README.md"
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: string
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  provision:
    name: Provision Infrastructure
    uses: nirojasmar/base-workflows/.github/workflows/provision-infrastructure.yml@infra-workflows
    secrets: inherit
    with:
      environment: ${{ github.event.inputs.environment != '' && github.event.inputs.environment || 'dev,qa,prod' }}
      backend_config_bucket: '{"dev": "hobio-nonprod-tfstates-ue1", "qa": "hobio-nonprod-tfstates-ue1", "prod": "hobio-prod-tfstates-ue1"}'
      timeout_minutes: 120
      sandbox_environments: 'dev'
